# ollama
OLLAMA_BASE_URL="http://127.0.0.1:11434/v1/"
OLLAMA_API_KEY="ollama"
OLLAMA_MODEL="qwen3.5:9b"

# vllm
VLLM_BASE_URL="http://localhost:9250/v1"    # "http://39.107.237.133:34567/v1", "http://localhost:9250/v1"
VLLM_API_KEY="vllm"
VLLM_MODEL="/root/models/Qwen/Qwen3.5-9B-AWQ-4bit"

# siliconflow
SILICONFLOW_API_KEY=
SILICONFLOW_BASE_URL=
SILICONFLOW_MODEL=


# QQ
QQ_ID=
QQ_APP_ID=
QQ_TOKEN=
QQ_APP_SECRET=

# MBot
MBOT_MOTION_URL=
MBOT_MOTTION_PORT=
SENSOR_PORT=
SENSOR_URL=